*{
    margin: 0px;
    padding: 0px;
    font-size:large;
}
body{
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}
.navbar{
    top: 0;
    position: sticky;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.navbar{
    padding: 10px 20px;
    background-color: white;
    border-collapse:collapse;
    border-width: 2px;
}

.nav-right-side{
    display: inline;
    align-items: center;
    float: right;
    margin: 10px 10px;
    padding: 15px 15px;
    max-height: 100%;
    margin-right: 25px;
}
.nav-right-side a{
    padding: 10px;
}

nav a img{
    max-height: 70px;
}

.nav-right-side a{
    color: black;
}

a.GetStarted-btn{
    background-color: black;
    color: white;
    border-radius: 3px;
}
/*////*/


.mainPage-upperBox{
    background-image: url("./hero-bg-57850c713b3b6d5f92c9c24f393695ed.svg");
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-color: white;
    width: 99%;
    height: 500px;
    position:relative; 
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    z-index:3;
}
.mainPage-middleBox{
    background-color:aqua; 
    width: 99%;
    height: 500px;
    position:relative; 
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    top:-494px; 
    left:8px; 
    z-index:2;
}
.mainPage-lowerBox{
    background-color:chartreuse;
    width: 99%;
    height: 500px;
    position:relative; 
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    top:-988px; 
    left:16px; 
    z-index:1;
}

.mainHeading{
    padding:70px 60px;
}
.mainHeading h1{
    font-size:80px;
    font-weight: bold;
    width:80%;
    padding: 10px;
}

.mainHeading h2{
    font-size:30px;
    font-weight:normal;
    width:50%;
    padding: 10px;
}

.mainPage-btn button{
    padding: 15px 20px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 3px;
    font-weight: bold;
}

.btn-whyForem{
    
}

.Second-part{
    top:-950px;
    position:relative; 
    border-style: solid;
}