*{
    margin: 0px;
    padding: 0px;
    font-size:large;
}
body{
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}
.navbar{
    top: 0;
    position: sticky;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.navbar{
    padding: 10px 20px;
    background-color: white;
    border-collapse:collapse;
    border-width: 2px;
    z-index: 10000;
}

.nav-right-side{
    display: inline;
    align-items: center;
    float: right;
    margin: 10px 10px;
    padding: 15px 15px;
    max-height: 100%;
    margin-right: 25px;
}
.nav-right-side a{
    padding: 10px;
}

nav a img{
    max-height: 70px;
}

.nav-right-side a{
    color: black;
}

a.GetStarted-btn{
    background-color: black;
    color: white;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.hover-btn:hover{
    background-color:rgb(240, 240, 23);
    color: black;
}
/*////*/
.homePage{
    position: relative;
}

.mainPage-upperBox{
    background-image: url("../assets/hero-bg-57850c713b3b6d5f92c9c24f393695ed.svg");
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-color: white;
    width: 99%;
    height: 500px;
    position:absolute; 
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    display: flex;
    z-index:3;
}


.mainPage-middleBox{
    background-color:aqua; 
    width: 99%;
    height: 500px;
    position:absolute; 
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    top:8px; 
    left:8px; 
    display: flex;
    z-index:2;
}
.mainPage-lowerBox{
    background-color:chartreuse;
    width: 99%;
    height: 500px;
    position:absolute; 
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    top:16px; 
    left:16px; 
    z-index:1;
    display: flex;
}


.mainHeading{
    padding:70px 60px;
}
.mainHeading h1{
    font-size:80px;
    font-weight: bold;
    width:80%;
    padding: 10px;
}

.mainHeading h2{
    font-size:30px;
    font-weight:normal;
    width:50%;
    padding: 10px;
}

.mainPage-btn button{
    padding: 15px 20px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.btn-whyForem{
    color: white;
    background-color: black;
}

.Second-part{ 
    
    text-align: center;
    padding: 235px 0px;
    background-color:white;
}

.Second-part p{
    font-weight: bold;
    color: white;
    font-size:80px;
    width: 80%;
    padding-top: 30px;
    transition:0.3s;
    
}
/*
.Second-part:before{
    content: '';
    position: absolute;
    bottom: 0px;
    left:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg,rgb(46, 71, 71),#fff);
    z-index: 1000;
}
*/

.moto{
    text-align: center;
    padding: 250px 0px 260px;
    background-color:rgb(46, 71, 71);
    background-image: linear-gradient(rgb(46, 71, 71) 80%, white);
}
.moto p{
    font-weight: bold;
    color: white;
    font-size:80px;
    width: 80%;
    padding-top: 30px;   
}

.twoCols-part{
    display: flex;
}

.col1, .col2{
    width: 50%;
}

.col1{
    
}
.col2{
    
}